ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-left: 20px;
    margin-bottom: 5px;
}

.pokemon-card {
    width: 200px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 15px 10px;
    box-shadow: 0 5px 5px rgb(63, 63, 63);
}

.pokemon-card:hover {
    transform: translateY(10px);
    cursor: pointer;
}

.pokemon-card:hover .pokemon-img {
    transform: scale(1.1);
}

.pokemon-card:hover .poke-name {
    animation: colortext .5s ease;
}



.poke-name {
    flex: 0 0 70%;
    color: rgba(255,255,255,.9);
}

.poke-id {
    flex: 0 0 10%;
    padding-right: 20px;
    color: rgba(0,0,0,.3);
    font-size: 18px;
}

.poke-type {
    background-color: rgba(255,255,255,.3);
    padding: 2px 5px;
    border-radius: 10px;
    color: white;
}

.pokemon-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-img {
    width: 140px;
    transition: transform .5s ease;
}


/* types */

.fire {
    background-color: rgb(228,127,112);
}

.water {
    background-color: rgb(113,169,240);
}

.bug {
    background-color: rgb(246,208,99);
}

.grass {
    background-color: rgb(112,213,178);
}

@keyframes colortext {
    0% {
        color: white;
    }

    30% {
        color: #57a2dc;
    }
    50% {
        color: #9153be;
    }
    100% {
        color: #de6cae;
    }
}